@charset "UTF-8";

@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&display=swap');

@import './head.css';
@import './page.css';

:root {
    --border: 1px solid #ddd;
    --background:#dfdfdf;
    --primary: #607b8b;
    --border_dark: 1px solid #444;
    --background_dark: #2e2e2e;
    --page_items_dark: #3c3c3c;
    --primary_dark: #202020;
}

* {
    box-sizing: border-box;
    transition: background .7s;
    font-family: Ubuntu;
    border: none;
    padding: 0;
    margin: 0;
}

#app, #app * {
    display: flex;
}

body {
    background-size: cover;
    background-attachment: fixed;
}

body.light {
    background: var(--background);
}

body.dark {
    background: var(--background_dark);
}

.material-icons {
    font-size: 32px !important;
    cursor: pointer;
}

@media (max-width: 950px) {
    #app > * { display: block }
    #head {display: flex;}
}
