#table * {
    color: black;
}

#table .material-icons {
    font-size: 24px !important;
}

#table {
    background: white;
    border-radius: 10px;
    color: black;
    padding: 25px;
    width: 800px;
}   

.table-title h1 {
    text-align: center;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
} 

#table .material-icons {
    cursor: pointer;
}    

#table .row {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.empty {
    display: flex;
    justify-content: space-evenly !important;
}