.form .form-box {
    flex-direction: column;
    font-weight: 500;
    padding: 5px;
}

.title, .desc {
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 15px;
}

.data-input {
    margin-top: 10px;
    padding: 5px;
    height: 25px;
}

.submit {
    justify-content: center;
    border-radius: 5px;
    font-weight: 800;
    transition: .8s;
    cursor: pointer;
    outline: unset;
    padding: 15px;
}

body.dark .submit {
    background: var(--background_dark);
}

body.light .submit:hover {
    background-color: green;
    transition: .3s;
    color: white;
}

body.dark .submit:hover {
    background-color: #252525;
    transition: .3s;
}

body.light .data-input {
    border-bottom: var(--border);
}

body.dark .data-input {
    border-bottom: var(--border_dark);
}

body.dark .form {
    background: var(--page_items_dark);
    color: white;
}

body.dark input {
    background: var(--page_items_dark);
    color: white;
}

@media (max-width: 950px) {
    .form-box {
        width: 100%;
    }
}
