@import './to-dos.css';

.list {
    flex-direction: column;
    width: 750px;
}

.table-head, .table-title {
    justify-content: center;
    align-items: center;
}

.table-head {
    padding: 5px;
    height: 35px;
    width: 100%;
}

.list .material-icons {
    border-radius: 50%;
    transition: .5s;
    padding: 5px;
}

.list .material-icons:hover {
    background-color: rgba(128, 128, 128, 0.3);
}

body.light .table-head {
    border-bottom: var(--border);
}

body.dark .table-head {
    border-bottom: var(--border_dark);
}

body.dark .list {
    background: var(--page_items_dark);
    color: #cecece;
}