.to-dos {
    flex-direction: column;
    padding: 15px 5px;
}

.to-do {
    justify-content: space-between;
    align-items: center;
    border-radius: 50px !important;
}

.to-do[status="true"] {
    opacity: 0.5;
}

.to-do, .to-do-content {
    align-items: center;
    height: 50px;
    width: 100%;
}

.to-do-content > * {
    padding-right: 10px;
}

.to-do-info {
    flex-direction: column;
}

.to-do[status="true"] .to-do-title,
.to-do[status="true"] .to-do-desc {
    text-decoration-line: line-through;
}

.to-do-title {
    font-size: 17px;
}

.to-do-desc {
    color: gray;
    font-weight: 500;
}

.to-do-actions > * {
    margin-left: 5px;
}